---
name: Publish

"on":
  release:
    types:
      - published

jobs:
  publish:
    name: Publish to PyPi
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
      - name: Build
        run: uv build
      - name: Smoke test (wheel)
        run: uv run --isolated --no-project --with $(ls dist/*.whl) tests/smoke_test.py
      - name: Smoke test (source distribution)
        run: uv run --isolated --no-project --with $(ls dist/*.tar.gz) tests/smoke_test.py
      - name: Publish
        run: uv publish
